<footer>
    <div class="contenedor">
        <div class="row middle-md middle-lg">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center-mobile">
                <span class="copy">Copyright &copy; 2016 - {{ "now"|date('Y') }} <a href="https://ocrend.com">Ocrend Software C.A</a>. <span class="hidden-xs">Todos los derechos reservados.</span></span>
                <div class="github-stats">
                    <a class="github-button" href="https://github.com/prinick96/Ocrend-Framework/subscription" data-icon="octicon-eye" data-show-count="true" aria-label="Watch prinick96/Ocrend-Framework on GitHub">Watch</a>
                    <a class="github-button" href="https://github.com/prinick96/Ocrend-Framework" data-icon="octicon-star" data-show-count="true" aria-label="Star prinick96/Ocrend-Framework on GitHub">Star</a>
                    <a class="github-button" href="https://github.com/prinick96/Ocrend-Framework/fork" data-icon="octicon-repo-forked" data-show-count="true" aria-label="Fork prinick96/Ocrend-Framework on GitHub">Fork</a>
                    <a class="github-button" href="https://github.com/prinick96/Ocrend-Framework/archive/master.zip" data-icon="octicon-cloud-download" aria-label="Download prinick96/Ocrend-Framework on GitHub">Download</a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <nav>
                    <ul>
                        <li  class="hidden-xs"><a href="https://github.com/prinick96/Ocrend-Framework/" target="_blank">Repositorio</a></li>
                        <li><a href="https://ocrend.com/desarrollo/web" target="_blank">Desarrollo Web</a></li>
                        <li class="hidden-xs"><a href="https://ocrend.com/hosting/elastico" target="_blank">Hosting Elástico</a></li>
                        <li class="hidden-xs"><a href="https://ocrend.com/v2" target="_blank">Doc v2.x</a></li>
                        <li><a class="donaciones" href="donaciones/">Donaciones</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</footer>