<aside class="oculto-mobile">
    <nav>
        <ul>
            <li class="menu-plegable {{ controller in ['home','sobre','descarga'] ? 'plegado' : '' }}">
                <a href="javascript:void(0)">Introducci贸n</a>
                <ul>
                    <li><a class="{{ controller in ['home','sobre'] ? 'active' : '' }}" href="sobre/">Sobre el framework</a></li>
                    <li><a class="{{ controller == 'descarga' ? 'active' : '' }}" href="descarga/">Descarga y Configuraci贸n</a></li>
                </ul>
            </li>
            <li><a href="estructura/">Estructura</a></li>
            <li><a href="controladores/">Controladores</a></li>
            <li><a href="rutas/">Rutas / URL Amigables</a></li>
            <li><a href="vistas/">Vistas (Twig)</a></li>
            <li><a href="http/">Peticiones HTTP</a></li>
            <li class="menu-plegable">
                <a href="javascript:void(0)">Helpers</a>
                <ul>
                    <li><a href="helpers/">Uso y Creaci贸n</a></li>
                    <li><a href="helpers/arrays/">Arrays</a></li>
                    <li><a href="helpers/emails/">Emails</a></li>
                    <li><a href="helpers/files/">Files</a></li>
                    <li><a href="helpers/strings/">Strings</a></li>
                    <li><a href="helpers/functions/">Funciones</a></li>
                </ul>
            </li>
            <li class="menu-plegable">
                <a href="javascript:void(0)">Modelos</a>
                <ul>
                    <li><a href="modelos/">Uso y Creaci贸n</a></li>
                    <li><a href="modelos/caracteristicas/database/">Bases de Datos</a></li>
                </ul>
            </li> 
            <li><a href="debug/">Depurador / Debug</a></li>
            <li><a href="rest/">API Rest</a></li>
            <li><a href="generador/">Generador</a></li>
        </ul>
    </nav>
</aside>