<header>
    <div class="contenedor">
        <div class="ocrend-framework-logo">
            <img src="https://framework.ocrend.com/ocrend_framework_iso.png" alt="Ocrend Framework" title="Ocrend Framework" />
            <span class="hidden-xs">framework</span>
        </div>
        <nav class="hidden-xs">
            <ul>
                <li>
                    <a href="https://foro.ocrend.com" alt="Foro de ocrend framework" title="Foro de ocrend framework" target="_blank">
                        Comunidad
                    </a>
                </li>
                <li>
                    <a href="https://github.com/prinick96/Ocrend-Framework/" alt="Repositorio de ocrend framework" title="Repositorio de ocrend framework" target="_blank">
                        Github
                    </a>
                </li>
                <li>
                    <a class="button" href="https://github.com/prinick96/Ocrend-Framework/releases" alt="Descargar ocrend framework" title="Descargar ocrend framework" target="_blank">
                        Descargar
                    </a>
                </li>
                <li>
                    <a class="version" href="javascript:void(0)" alt="Versi칩n m치s reciente" title="Versi칩n m치s reciente">
                        v3.0.0
                    </a>
                </li>
            </ul>
        </nav>
        <div class="menu-hamburguesa hidden-sm hidden-md hidden-lg"></div>
    </div>
</header>